.emoji-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10%;
}
.emoji-palette button {
    width: 100px;
    height: 100px;
    margin: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #f1f1f1;
    border: 1px solid #cfd6e6;
    border-radius: 10px;
    transition: all 0.3s;
    color:black;font-size:50px;font-weight:bold;
}
.emoji-palette button:hover {
    background:white;
    box-shadow: 0 0 4px 3px #f1f1f1;
    border-color: #b7eaf8
}
.live-emoji .init {
    top: 80%;
}
.live-emoji .onscreen {
    top: 20%;
    filter:blur(10px);
    filter:opacity(0);
}
.live-emoji .dead {
    display: none
}
.live-emoji div {
    transition: all 2s ease;
}
#projets, .parcours, .passions-sub1, .passions-sub2 {
    display:flex;
    justify-content:center;
}
.passions-sub1, .passions-sub2 {
    font-weight: bold;
    font-size: 40px;
}
#projets .card {
    background-size:cover;
    height: 1000px;
}
#projets .descr {
    padding: 80px;
    width: 60%;
}
.project-list, .progress-list {
    margin-left: 10%;
    list-style-type: "";
    padding-top:30px;
}
.fake-link {
    text-decoration: underline;
    color: #009f9f;

}
.project-details{padding-top:90px;
    margin-left:15%;
    font-size: 40pxIkli;
}
.project-list * {
    font-size: 40px;
    line-height: 1.5;
}
.title {
    margin-left:10%;
    padding-left: 20px;
    font-family: 'Buenard', serif;
    border-bottom: 8px solid #009f9f;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color:#222;
    padding: 0!important;
    margin:0!important;
    font-size: 30px;
    background-image: url('/p/p/npp.png');
    background-size: 50% auto;
    background-repeat:no-repeat;
    background-position: bottom 10px right;
    height:100%;
    overflow: hidden;
}
#cover {
    height: 50%;
    background: #b1f1f1;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
body h1 {
    margin-top:0;
    font-size:60px;
}
div#projets {
    justify-content: space-between;
}
#passions-init {
    background-image: url('/p/p/linux.png');
    background-size:90%;
    background-repeat: no-repeat;
    background-position: top -200px center;
    height:100%;
}
#passions {
    background-image: url('/p/p/linux-fade.png');
    background-size:90%;
    background-repeat: no-repeat;
    background-position: top -200px center;
    height:100%;
}
.simple-logo {
    height:80px;
    padding:10px;
    margin:auto;
}
.arrow {
    height:40px;
    padding: 30px;
    margin: auto
}
.tall-image {
    height:400px;
}
.slide {
    width:80%;
    margin:auto;
}
#reactions img {
    height:70%;
    margin:0 15%;
}
.qr-subtext {
    font-size: 60px;
    margin: 0 22%;
}
#contacts p {
    display: flex;
    flex-wrap:wrap;
}
#contacts p img {
    max-width: 280px
}
#contacts p {
    line-height: 3;
}
#next img {
    margin: 10px 40%;
}
.emojis {
    list-style-type: "";
    font-size:60px;
    margin-left: 20%;h
}
